<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Recipe Cards</title>
  </head>
  <body>
    <nav>
      <form action="/recipeItems" method="post">
        <input
          type="text"
          name="query"
          id="search"
          placeholder="What Kind of Recipe?"
        />
        <button type="submit" class="button">Search</button>
      </form>
      <img src="/images/profile.svg" class="profile" />
    </nav>

    <side-nav>
      <img src="/images/log.png" class="logo" />
      <a href="/"
        ><img src="/images/dashboard.svg" class="side-icons active-icon"
      /></a>
      <a href="/"><img src="/images/news.svg" class="side-icons" /></a>
      <a href="/"> <img src="/images/music-album.svg" class="side-icons" /></a>
      <!-- <a href="/"> <img src="/images/star.svg" class="side-icons" /></a> -->
    </side-nav>
    <article>
      <p>Hello !!</p>
      <h1>Search result:</h1>
      <% for (let i=0; i< recipes.length; i++) { %>
      <div class="card">
        <div class="holder">
          <img src="<%=recipes[i].recipe.image%>" class="main-recipe-image" />
        </div>
        <div class="vertical">
          <h1><%=recipes[i].recipe.label%></h1>
          <h2>Meal Type: <%=recipes[i].recipe.mealType%></h2>
          <div class="horizontal">
            <div class="desc calories">
              <h3><%=Math.round(recipes[i].recipe.calories)%></h3>
              <h4>Calories</h4>
            </div>
            <div class="desc protein">
              <h3><%=Math.round(recipes[i].recipe.totalWeight)%></h3>
              <h4>Total Weight</h4>
            </div>
            <div class="desc protein">
              <h3><%=recipes[i].recipe.totalTime%></h3>
              <h4>Total Time</h4>
            </div>

            <div class="desc fats">
              <h3><%=recipes[i].recipe.yield%></h3>
              <h4>Yields</h4>
            </div>
            <div class="recipe ingredients">
              <h3>
                <h4>Ingredients</h4>
                <%recipes[i].recipe.ingredients.forEach(function(ingredient){ %>
              </h3>

              <p><%= ingredient.text %></p>

              <% }); %>
            </div>
          </div>

          <div class="linkRecipes">
            <a href="<%=recipes[i].recipe.url%>" id="linkRecipesUrl"
              >Click To Learn!</a
            >
          </div>

          <form action="/save" method="post">
            <input
              type="text"
              value="<%=recipes[i].recipe.label%>"
              name="foodName"
              class="hid"
              readonly
            />
            <input
              type="text"
              value="<%=recipes[i].recipe.image%>"
              name="foodImage"
              class="hid"
              readonly
            />
            <input
              type="text"
              value="<%=recipes[i].recipe.calories%>"
              name="foodCalories"
              class="hid"
              readonly
            />
            <input
              type="text"
              value="<%=recipes[i].recipe.totalWeight%>"
              name="foodProtein"
              class="hid"
              readonly
            />
            <input
              type="text"
              value="<%=recipes[i].recipe.totalTime%>"
              name="foodFats"
              class="hid"
              readonly
            />
            <input
              type="text"
              value="<%=recipes[i].recipe.yield%>"
              name="foodCarbs"
              class="hid"
              readonly
            />
            <input
              type="text"
              value="<%=recipes[i].recipe.image%>"
              name="foodImage"
              class="hid"
              readonly
            />
            <input type="submit" value="save" class="add" />
          </form>
        </div>
      </div>
      <% } %>
    </article>
  </body>
</html>
