<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/shoelace-autoloader.js"></script>
</head>
<body>
    <%- include('../public/runTimeScripts/theme.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <article>
        <p>Hello <%=userData.User_name%>!!</p>
        <h1>Dashboard:</h1>
        <div class="slideshow">
            <div class="round-button">
                <div class="rbutton">
                   <p>cald</p>
                </div>
                <div class="rbutton">
                    <p>cald</p>
                </div>
                <div class="rbutton">
                    <p>cald</p>
                </div>
                
            </div>
            <p>Suggested recepies</p>
            <div class="note-card">
                <div class="note first">
                    <a href="/recipes#recipeCatalog">
                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" id="arrow-circle-down" viewBox="0 0 24 24" width="30" height="30"><path d="M0,12A12,12,0,1,0,12,0,12.013,12.013,0,0,0,0,12Zm16,0a2.993,2.993,0,0,1-.752,1.987c-.291.327-.574.637-.777.84L11.647,17.7a1,1,0,1,1-1.426-1.4L13.05,13.42c.187-.188.441-.468.7-.759a1,1,0,0,0,0-1.323c-.258-.29-.512-.57-.693-.752L10.221,7.7a1,1,0,1,1,1.426-1.4l2.829,2.879c.2.2.48.507.769.833A2.99,2.99,0,0,1,16,12Z"/></svg>

                    </a>
                    <h1 class="dashtext">Find new Recipes</h1>
                    <video src="/images/vid.mp4"
                            muted class="vid1 vid" >
                        </video>
                </div>
                <div class="note second">
                    <a href="/recipes#recipeCatalog">
                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" id="arrow-circle-down" viewBox="0 0 24 24" width="30" height="30"><path d="M0,12A12,12,0,1,0,12,0,12.013,12.013,0,0,0,0,12Zm16,0a2.993,2.993,0,0,1-.752,1.987c-.291.327-.574.637-.777.84L11.647,17.7a1,1,0,1,1-1.426-1.4L13.05,13.42c.187-.188.441-.468.7-.759a1,1,0,0,0,0-1.323c-.258-.29-.512-.57-.693-.752L10.221,7.7a1,1,0,1,1,1.426-1.4l2.829,2.879c.2.2.48.507.769.833A2.99,2.99,0,0,1,16,12Z"/></svg>

                    </a>
                    <h1 class="dashtext">Track your macros</h1>
                    <video src="/images/vid2.mp4"
                            muted class="vid2 vid" >
                        </video>
                </div>
                <div class="note thrird">
                    <a href="/aboutUs#section7">
                        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" id="arrow-circle-down" viewBox="0 0 24 24" width="30" height="30"><path d="M0,12A12,12,0,1,0,12,0,12.013,12.013,0,0,0,0,12Zm16,0a2.993,2.993,0,0,1-.752,1.987c-.291.327-.574.637-.777.84L11.647,17.7a1,1,0,1,1-1.426-1.4L13.05,13.42c.187-.188.441-.468.7-.759a1,1,0,0,0,0-1.323c-.258-.29-.512-.57-.693-.752L10.221,7.7a1,1,0,1,1,1.426-1.4l2.829,2.879c.2.2.48.507.769.833A2.99,2.99,0,0,1,16,12Z"/></svg>

                    </a>
                    
                    <h1 class="dashtext">Join Our newsletter</h1>
                    <video src="/images/vid3.mp4"
                            muted class="vid3 vid" >
                        </video>
                        
                </div>
            </div>
            
        </div>
        <div class="horizontal">
            <div class="vertical dashboard">
             
                
                <h1 class="overview">Daily overview:</h1>
                <div class="chart">
                    <canvas id="myChart"><h1>hello</h1></canvas>
                  </div>
                <h2 class="overview">Total Nutrients:</h2>
                  <div class="chart">
                    <canvas id="lineGraph"><h1>hello</h1></canvas>
                  </div>
            </div>
            
            <div class="vertical">
                <div class="card food-history">
                    <h1>Food history</h1>
                    <p>recently added</p>
            <% if(foodData.length > 0 ){%>
             <% foodData.forEach(e=>{ %>
                <div class="food-holder">
                    <h5><%=e.Food_Name%>: <%=e.food_quantity%> g</h5>
                    <div class="horizontal">
                        <div class="desc calories">
                            <h5><%=e.Food_Calories%></h5>
                            <h6>Calories</h6>
                        </div>
                        <div class="desc protein">
                            <h5><%=e.Food_Protein%></h5>
                            <h6>Protein</h6>
                        </div>
                        <div class="desc fats">
                            <h5><%=e.Food_Fats%></h5>
                            <h6>Fats</h6>
                        </div>
                        <div class="desc fats">
                            <h5><%=e.Food_Carbs%></h5>
                            <h6>Carbs</h6>
                        </div>
                        
                    </div>
                    
                </div>
            <% }) } else{%>      
                    
                        <h3>No Items to display</h3>
                    
                    
                    <%}%>
                    
                   
                </div>
            </div>
            
           
              
              
        </div>
        
      
          <h1 class="hid" id="items"><%=totalItems%></h1>
          <h1 class="hid" id="calories"><%=totalCalories%></h1>
          <h1 class="hid" id="target"><%=target%></h1>
          <h1 class="hid" id="remaining"><%=remaining%></h1>
          <h1 class="hid" id="totalProtein"><%=totalProtein%></h1>
          <h1 class="hid" id="totalCarbs"><%=totalCarbs%></h1>
          <h1 class="hid" id="totalFats"><%=totalFats%></h1>
    </article>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/runTimeScripts/charts.js">
</script>
<%- include('../public/runTimeScripts/onHover.ejs') %>
<style>
    
    .note{
        background-image: url(/images/food1.jpg);
        background-size: cover;
        transition: all 0.4s;
    }
    .note:hover{
        transition: all 0.4s;
        transform: scale(1.2);
    }
    .rbutton{
        display: flex;
    aspect-ratio: 2/1;
    height: 50px;
    border-radius: 27px;
    background: var(--backdrop);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    }
</style>


</html>