<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
</head>
<body>
  <%- include('../public/runTimeScripts/theme.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <%function roundNumber(num) {%>
        <%   return num.toFixed(2).replace(/\.0+$/, '');} %>
       
    <article>
        <p>Hello !!</p>
        <h1>Your list of Foods</h1>

        <div class="card">
            <div class="holder">
              <img src="<%=recipeImage%>" class="main-recipe-image" />
            </div>
            <div class="vertical">
              <h1><%=recipeName%></h1>
              <h2>Meal Type: <%=mealType%></h2>
              <div class="horizontal">
                <div class="desc calories">
                  <h3><%=Math.round(recipeCalories)%></h3>
                  <h4>Calories</h4>
                </div>
                <div class="desc protein">
                  <h3><%=Math.round(recipeTotalWeight)%></h3>
                  <h4>Total Weight</h4>
                </div>
                <div class="linkRecipes">
                </div>
                <div class="desc fats">
                  <h3><%=recipeYield%></h3>
                  <h4>Yields</h4>
                </div>
                <div class="recipe ingredients">
                    <h4>Ingredients</h4>
                    <%recipeIngredients.split('|').forEach(txt=>{ %>
    
                  <p><%=txt  %></p>
                  <% }); %>
                  <a href="<%=recipeURL%>" id="linkRecipesUrl"
                    >Click To Learn!</a
                  >
                </div>
             
              </div>

            </div>

            <form class="text">
                <div>
                    <input type="text" class="comment" placeholder="Write your post">
                <svg xmlns="http://www.w3.org/2000/svg" class="emoji-button"  id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="30" height="30"><path d="M12,0A12.013,12.013,0,0,0,0,12c.6,15.9,23.4,15.893,24,0A12.013,12.013,0,0,0,12,0Zm3.5,8a1.5,1.5,0,0,1,0,3A1.5,1.5,0,0,1,15.5,8Zm-7,0a1.5,1.5,0,0,1,0,3A1.5,1.5,0,0,1,8.5,8Zm9.342,7.542A6.827,6.827,0,0,1,12,19a6.836,6.836,0,0,1-5.848-3.458A1,1,0,0,1,7.2,14.024,15.4,15.4,0,0,0,12,15a15.4,15.4,0,0,0,4.792-.976A1,1,0,0,1,17.842,15.542Z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="emoji-close hid" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512"><path d="m16.061,10.061l-1.939,1.939,1.939,1.939c.586.586.586,1.535,0,2.121-.293.293-.677.439-1.061.439s-.768-.146-1.061-.439l-1.939-1.939-1.939,1.939c-.293.293-.677.439-1.061.439s-.768-.146-1.061-.439c-.586-.586-.586-1.535,0-2.121l1.939-1.939-1.939-1.939c-.586-.586-.586-1.535,0-2.121s1.535-.586,2.121,0l1.939,1.939,1.939-1.939c.586-.586,1.535-.586,2.121,0s.586,1.535,0,2.121Zm7.939,1.939c0,6.617-5.383,12-12,12S0,18.617,0,12,5.383,0,12,0s12,5.383,12,12Zm-3,0c0-4.963-4.037-9-9-9S3,7.037,3,12s4.038,9,9,9,9-4.037,9-9Z"/></svg>

                </div>
                
                <emoji-picker class="emoji-menu hid"></emoji-picker>

                <input type="submit">
            </form>
          </div>
    
    </article>
</body>
<script type="module">
    import 'https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js'
    import insertText from 'https://cdn.jsdelivr.net/npm/insert-text-at-cursor@0.3.0/index.js'
    let emojiMenu = document.querySelector('emoji-picker');
    let close = document.querySelector('.emoji-close');
    let emoji = document.querySelector('.emoji-button');
    emojiMenu.addEventListener('emoji-click', e => {
      insertText(document.querySelector('.comment'), e.detail.unicode)
    })

    emoji.addEventListener('click',  function(){
        emojiMenu.classList = 'emoji-menu' 
        close.classList = 'emoji-close'
        emoji.classList = '.emoji-button hid'
    }
      )

      close.addEventListener('click',  function(){
        emojiMenu.classList = 'emoji-menu hid' 
        close.classList = 'emoji-close hid'
        emoji.classList = '.emoji-button'
    }
      )
  </script>

</html>