<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>
</head>
<body>
    <%- include('../public/runTimeScripts/theme.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <article>
        <p>Hello <%=userData.User_name%>!!</p>
        <h1>Search result:</h1>
        <div class="card">
            <div class="holder">
                <img src="<%=data.image%>" class="main-image">
                <img src="<%=data.image%>" class="back-image">
            </div>
            <div class="vertical">
                <h1><%=data.label%></h1>
                
            <h2>Category: <%=data.category%></h2>
            <h3>per each 100g:</h3>
            <div class="horizontal">
                <div class="desc calories">
                    <h3><%=data.nutrients.ENERC_KCAL%></h3>
                    <h4>Calories</h4>
                </div>
                <div class="desc protein">
                    <h3><%=data.nutrients.PROCNT%></h3>
                    <h4>Protein</h4>
                </div>
                <div class="desc fats">
                    <h3><%=data.nutrients.FAT%></h3>
                    <h4>Fats</h4>
                </div>
                <div class="desc fats">
                    <h3><%=data.nutrients.CHOCDF%></h3>
                    <h4>Carbs</h4>
                </div>
                
            </div>
            <form action="/save" method="post">
                <h3>quantity:</h3>
                <input type="number" name="grams" placeholder="grams">
                <input type="text" value="<%=data.label%>" name="foodName" class="hid" readonly>
                <input type="text" value="<%=data.image%>" name="foodImage" class="hid" readonly>
                <input type="text" value="<%=data.nutrients.ENERC_KCAL%>" name="foodCalories" class="hid" readonly>
                <input type="text" value="<%=data.nutrients.PROCNT%>" name="foodProtein" class="hid" readonly>
                <input type="text" value="<%=data.nutrients.FAT%>" name="foodFats" class="hid" readonly>
                <input type="text" value="<%=data.nutrients.CHOCDF%>" name="foodCarbs" class="hid" readonly>
                <input type="text" value="<%=data.image%>" name="foodImage" class="hid" readonly>
                <input type="submit" value="save" class="add">
            </form>
            </div>
            

        </div>
    </article>
</body>

</html>