<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>

</head>
<body>
    <%- include('../public/runTimeScripts/theme.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <article>
        <h1>Top posts:</h1>

        <% postInfo.forEach(e=>{
            %>


            <div class="card">
                
                <div class="holder">
                  
                </div>
                <div class="vertical">
                  <div class="horizontal">
                    
                  <img src="<%=e.Recipe_Image%>" class="main-recipe-image" />
                    <div class="recipe ingredients">
                      <div class="recipeTitle">
                        <h1><%=e.Recipe_Name%></h1>
                    <h2>Meal Type: <%=e.Recipe_MealType%></h2>
                    </div>
                      <div class="nutrients">
                        <div class="desc calories">
                            <h3><%=Math.round(e.Recipe_Calories)%></h3>
                            <h4>Calories</h4>
                          </div>
                          <div class="desc protein">
                            <h3><%=Math.round(e.Recipe_TotalWeight)%></h3>
                            <h4>Total Weight</h4>
                          </div>
                          <div class="linkRecipes">
                          </div>
                          <div class="desc fats">
                            <h3><%=e.Recipe_Yield%></h3>
                            <h4>Yields</h4>
                          </div>
                      </div>
                      <a href="<%=e.Recipe_URL%>" id="linkRecipesUrl"
                        >Click To Learn!</a
                      >
                    </div>
                
                  </div>
                  
                  
                </div>
                <div class="postMessage">
                    
                    <div class="user">
                        <a href="/profile"> <img src="/images/profile.svg" class="profile"></a>
                        <h3> <%=e.UserName%></h3>
                    </div>
                       
                        <p class="messages"><%=e.Post_Message%></p>
                    
                    
                 
                 </div>
                 <p class="timeStamp">Post date: <%=e.AddedTime%></p>
              </div>
        
        
        <% })%>



        <!-- //------------------------------- -->
        <div class="card">
            <h1>Comments</h1>
            <!-- Form to add new comments -->
            <form id="commentForm">
              <textarea id="commentInput" placeholder="Enter your comment"></textarea>
              <button type="submit">Submit</button>
            </form>
            <div id="commentContainer"></div>
          
            <script src="/runTimeScripts/blog.js"></script>

        </div>
        <style>
                .comment {
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
    }
        </style>
    </article>
</body>

</html>